<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>database matching authentication</title>
</head>

<body align="center">
    <h2>User Login</h2>
    <div>
        <form action="/login" method="POST">
            <div>
                <label for="email">Email : </label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="password">Password : </label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>