<%- include("layout/header") %>
    <main>
        <h1>Home Page</h1>
        <h3>Express session & Passport Local</h3>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </main>

    <%- include('layout/footer') %>