<%- include("layout/header") %>
    <main>
        <h2>Passport local strategy session base</h2>
        <a href="/register">register</a>
        <a href="/login">Login</a>
    </main>
    <%- include('layout/footer') %>